/* all colors and font */
:root {
    
    --black: #0a0a0a;
    --secondblack: #171321;
    --hotmag: #ff17e4;
    --cream: #F1F7ED;
    --yellow: #faa916;
    --maroon: #B33951;
    --red: #EB5160;
    --font-size: 1.3rem;
    --space: 'Space Mono', monospace;
    --roboto: 'Roboto', sans-serif;
    --poppins: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body  {
    padding: 0;
    margin: 0;
    font-family: var(--poppins);
    background-color: var(--black);
    color: var(--cream);
    font-size: var(--font-size);
}
/* navbar start */

.nav-container {
    background: linear-gradient(0deg, rgba(10,10,10,1) 63%, rgba(40,17,103,0.821187850140056) 90%);
}
nav {
    font-family: var(--roboto);
    font-size: 90%;
    padding: 1rem;
    
}

nav h3 a {
    font-family: var(--poppins);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav a {

    text-decoration: none;
    display: block;
    color: var(--cream);
}

nav a:hover {
    color: var(--maroon);
}


nav [class*="fa-"] {
    font-size: 160%;
}

.button {
    background-color: var(--maroon);
    color: var(--cream);
    padding: 10px;
    border-radius: 10px;
    box-shadow: .5px .5px 10px 1px rgba(229, 83, 83, 0.8);
}

.button:hover {
    color: var(--black)
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 50px;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}
/* end of navbar */

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--red);
    font-weight: bold;
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

/* start of intro */ 

#intro .mini-about {
    font-size: 45px;
    margin: 0;
}

#intro {
    /* top, right, bot, left */
    padding: 65px 16px 160px 16px;
    max-width: 1200px;
    margin: 0 auto;
    
}

#intro p {
    font-size: 18px;
    line-height: 1.5;
}

.name span {
    font-family: var(--sans);
    font-size: 64px;
    display: block;
    color: var(--yellow);
}

#intro h2 {
    font-size: 4rem;
}
/* end of intro section*/

/* start of projects */

#projects {
    padding: 64px 16px;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
    color: var(--yellow);
    font-size: 2rem;
}

#projects h4 {
    margin: 0px;
}

.project-desc {
    background: radial-gradient(circle, rgba(23,19,33,1) 60%, rgba(10,10,10,0.7651654411764706) 100%);
    padding: 8px 3px 8px 3px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.5;
}

#projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-size: 18px;
    gap: 50px;
}

#projects img {
    margin: 2rem 0 4rem 0;
    border-radius: 15px;
    width: 600px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
}

.article-padding {
    padding-top: 60px;
}

@media (min-width: 800px) {
    #projects {
        max-width: 1200px;
        margin: 0 auto;
    }
    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }
    img {
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .project-text {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 1;
        text-align: right;
    }
    #projects ul {
        justify-content: flex-end;
    }
    .tech{
        text-align: right;
        padding-right: 133px;
    }

    .reverse img {
        grid-column: 6/11;
        grid-row: 1/2;
       
    }
    .reverse .project-text {
        order: 2;
        grid-column: 1/7;
        text-align: left;
    }

    #projects .reverse ul {
        justify-content: flex-start;
    }
    .reverse h4.tech {
        text-align: left;
        
    }

}
/* end of projects */

/* start of contact-me section */
.section-container {
    color: var(--cream);
    padding: 3rem 0;
    background: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(55,21,150,0.7091430322128851) 95%);
}

.contact-me {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.email{
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 24px;
}
/* end of  contact-me */


/* start of footer */
footer {
    padding: 3rem 0;
    text-align: center;
    background: linear-gradient(0deg, rgba(10,10,10,1) 19%, rgba(55,21,150,0.7091430322128851) 100%);
   
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5rem;
} 

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 50px;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}
/* end of footer */
